a:hover{
  opacity: 0.8;
  transition: .5s ease;
}

.boldFont{
  justify-content: center;
  font-family:  'Comfortaa', cursive;
  font-style: normal;
  font-weight: bold;
  color: #F9F5FF;
}

.font{
  justify-content: center;
  font-family:  'Comfortaa', cursive;
  font-style: normal;
  font-weight: normal;
  color: #F9F5FF;
}

.nextButton {
  position: relative;
  font-family:  'Comfortaa', cursive;
  text-align: center;
  color: #F9F5FF;
}



#connexion{
  font-size: 14px;
  color: #6c757d;
  border: 1px solid #6c757d !important;
  border-radius: 0px 0px 15px 0px;
}



.p2Button{
  text-align: center;
  font-family:  'Comfortaa', cursive;
  color: #F9F5FF;
  font-weight: bold;
} 

.textP2Button {
  color: #F9F5FF;
  position: absolute;
  top: 18%;
  margin: 0px 45% 0px 43%;
  text-align: center;
  color: #F9F5FF;
  font-size: 14px;
  text-shadow: 0px 4px 4px rgba(144, 14, 205, 0.8);
}

/* .animationP2Button{
  animation-name: slidein;
  Animation-delay : 0s ;
  Animation-duration : 10s ;
  animation-direction: alternate-reverse;
  Animation-iteration-count : infinite ;
} */



  .parent{
    padding-left: 30px;
  }

/* .invader{
  box-shadow: 0 0 0 1em #006605,
  0 1em 0 1em #006605,
  -2.5em 1.5em 0 .5em #006605,
  2.5em 1.5em 0 .5em #006605,
  -3em -3em 0 0 #006605,
  3em -3em 0 0 #006605,
  -2em -2em 0 0 #006605,
  2em -2em 0 0 #006605,
  -3em -1em 0 0 #006605,
  -2em -1em 0 0 #006605,
  2em -1em 0 0 #006605,
  3em -1em 0 0 #006605,
  -4em 0 0 0 #006605,
  -3em 0 0 0 #006605,
  3em 0 0 0 #006605,
  4em 0 0 0 #006605,
  -5em 1em 0 0 #006605,
  -4em 1em 0 0 #006605,
  4em 1em 0 0 #006605,
  5em 1em 0 0 #006605,
  -5em 2em 0 0 #006605,
  5em 2em 0 0 #006605,
  -5em 3em 0 0 #006605,
  -3em 3em 0 0 #006605,
  3em 3em 0 0 #006605,
  5em 3em 0 0 #006605,
  -2em 4em 0 0 #006605,
  -1em 4em 0 0 #006605,
  1em 4em 0 0 #006605,
  2em 4em 0 0 #006605;
  background: #006605;
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 0 70px 65px;

  position: relative;
  left: 0px;
  top: 0px;

  -webkit-transition-property: width height background-color font-size left top color;
  -webkit-transition-duration: 8s;
  -webkit-transition-timing-function: steps(8, end);
  transition-property: width height background-color font-size left top color;
  transition-duration: 8s;
  transition-timing-function: steps(8, end);
}

.invader1{
  box-shadow: 0 0 0 1em #006605,
  0 1em 0 1em #006605,
  -2.5em 1.5em 0 .5em #006605,
  2.5em 1.5em 0 .5em #006605,
  -3em -3em 0 0 #006605,
  3em -3em 0 0 #006605,
  -2em -2em 0 0 #006605,
  2em -2em 0 0 #006605,
  -3em -1em 0 0 #006605,
  -2em -1em 0 0 #006605,
  2em -1em 0 0 #006605,
  3em -1em 0 0 #006605,
  -4em 0 0 0 #006605,
  -3em 0 0 0 #006605,
  3em 0 0 0 #006605,
  4em 0 0 0 #006605,
  -5em 1em 0 0 #006605,
  -4em 1em 0 0 #006605,
  4em 1em 0 0 #006605,
  5em 1em 0 0 #006605,
  -5em 2em 0 0 #006605,
  5em 2em 0 0 #006605,
  -5em 3em 0 0 #006605,
  -3em 3em 0 0 #006605,
  3em 3em 0 0 #006605,
  5em 3em 0 0 #006605,
  -2em 4em 0 0 #006605,
  -1em 4em 0 0 #006605,
  1em 4em 0 0 #006605,
  2em 4em 0 0 #006605;
  background: #006605;
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 0 70px 65px;

  position: relative;
  left:100%;

  -webkit-transition-property: width height background-color font-size left top color;
  -webkit-transition-duration:8s;
  -webkit-transition-timing-function: steps(8, end);
  transition-property: width height background-color font-size left top color;
  transition-duration: 8s;
  transition-timing-function: steps(8, end);
} */

/* @keyframes slidein {
  
  from {
    margin-left: 10%;
  }
  to {
    margin-left: 80%;
  }
} */

.textScreenGameButton {
  position: absolute;
  top: 50%;
  margin-left: 15px;
  color: #F9F5FF;
}

.textButton {
  position: absolute;
  top: 50%;
  left: 15%;
  color: #F9F5FF;
}

.error {
  text-align: center;
  top: 40%;
  left: 50%;
  color: rgb(255, 4, 4);
}

.success{
  text-align: center;
  top: 40%;
  left: 50%;
  color:  #F9F5FF;
}

.hiddenButton {
  background-color: transparent;
  border: none;
  cursor:pointer;
  outline: none;
  padding: 0 px;
}

p{
  margin-bottom: 0px;
  padding: 0px;
  text-align: justify;
}

div{
  margin-right: 0px;
  padding: 0px;
}

.row{
  margin-right: 0px;
  padding: 0px;
}



.backgroundColor{
  min-height: 92vh;
  padding: 15px;
  background: linear-gradient(35deg, #161616,#4d4d4d, #cfcfcf);
}



.headerFooter{
  min-height: 8vh;
  font-family:  'Comfortaa', cursive;
  font-style: normal;
  font-weight: bold;
  color: #F9F5FF;
  background: #000000;
  /* box-shadow: 0px 0px 10px 10px #414141; */
}

.boxshadow{
  box-shadow: 0px 4px 4px rgba(231, 10, 10, 0.7);
  height: 34px;
  width:34px;
};

img.gamePicture{
  border-radius: 10px !important;
}

body {
  font-family: 'Comfortaa', cursive;
  color: #F9F5FF;
}
.heading {

  color: #F9F5FF;
  align-items: center;
  justify-content: center;
  /* margin: 0;
  padding: 0; */
  Font-Size: 35px;
  text-shadow: 0px 4px 4px rgba(231, 10, 10, 0.7);
}

.titleTeam{
  width: 100%;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card{
  height: auto;
  border-radius: 0px 50px !important;
  font-family: 'Comfortaa', cursive;
  color: #6c757d;
  padding-bottom: 13px;
  box-shadow:0px 4px 4px rgba(144, 14, 205, 0.8);
  padding: 10px;
  background-color: #000000 !important;
}

.lastcard{
  height: auto;
  background-color: #010212;
  border-radius: 0px 50px;
  font-family: 'Comfortaa', cursive;
  color: #F9F5FF;
  padding-bottom: 13px;
  margin-bottom: 0px;
  box-shadow: 4px rgba(144, 14, 205, 0.8);
}

.card-title{

  Font-Size: 27px !important;
  color: #ffffff;
  margin: 0 ;
  padding: 0;
  align-content: center;
  text-shadow: 0px 4px 4px rgba(187, 10, 231, 0.7);
}

.card-subtitle{
  font-family: 'Press Start 2P' !important;
  font-size: 12px;
  color: rgb(255, 255, 255);
  margin-left : 10px;
}

p.card-subtitle{

  font-size: 10px;
  color: #F9F5FF;
  margin-left : 10px;
}


.card-text{
  font-family:  'Comfortaa', cursive;
  margin-left : 11px;
  font-size: 15px;
  color: #F9F5FF;
}



.cardbody{
  padding-bottom: "15px";
  padding-left:"10px";
  margin-bottom: "30px";
}

.user{
  padding-left: 25px;
  padding-bottom: 10px;
  align-items: center;
  
}

.usertitle{
  padding-left: 25px;
  padding-bottom: 10px;
  margin-top: 15px;
  align-items: center;
}

.card-background{
  background: #000000;
  border-radius: 0px 50px;
  padding: 15px
}

div.card-body{
  padding: 10px
}

.titleTeam{
  padding-top: 10px;
  align-items: center;
  margin-bottom: 10px
}

.custom-column{
  column-count: 2;
}

th{
  color: #F9F5FF !important;
  font-size: 12px;
}


td{
  color: #F9F5FF !important;
  font-size: 10px;
}
/*______________ TOGGLE ______________*/
element.style{
  display: none
}

  .react-switch-bg{
    height: 40px !important;
    width: 90px !important;
    margin: 0px;
    position: relative;
    background: rgba(231, 10, 10, 0.7);
    border-radius: 14px;
    cursor: pointer;
    transition: background 0.25s ease 0s;
    box-shadow: 0px 4px 4px rgba(231, 10, 10, 0.7);
  }

.react-switch-handle{
    background-image: url("./images/power-button.svg") !important;
    height:38px !important; 
    width: 38px !important; 
    background: rgb(255, 255, 255); 
    display: inline-block; 
    cursor: pointer; 
    border-radius: 50%; 
    position: absolute; 
    transform: translateX(50px) ; top: 1px  ; 
    outline: 0px; 
    border: 0px; 
    transition: background-color 0.25s ease 0s, transform 0.25s ease 0s, box-shadow 0.15s ease 0s;
  }
/*fin  TOGGLE */


.modal-content {
  position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-color: transparent !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius:0px 0px 60px 50px !important;
    outline: 0;
    box-shadow: 0px 4px 4px rgba(231, 10, 10, 0.7);
}


.modal-text-game{
    font-family:  'Comfortaa', cursive;
    margin-left : 40px;
    font-size: 15px;
    color: #F9F5FF;
}


.false{
  transform: rotate(180deg);
  width:25px !important;
  height: 25px !important;
  margin-right: 10px;
  position: left !important;
  position: relative !important; 
  bottom: 0; 
  left: 50%;
  
}

.true{
  transform: rotate(0deg);
  width:25px !important;
  height: 25px !important;
  margin-right: 10px;
  position: relative; 
  bottom: -2; 
  left:0;
  margin-left: 5;
}

.align-middle{
  font-Size: 15px !important;

}






/* MODAL STYLE */
.modal-header{
  background-Color: #010212;
  box-sizing:0px 4px 4px rgba(144, 14, 205, 0.8)
}

.modal-title{
  color: white ;
  background-color: #010212;
  justify-content: center;

  text-shadow: 0px 4px 4px rgba(144, 14, 205, 0.8);

}

button.btn.btn-primary{
  color: white;
  background-Color: #010212;
  justify-Content: right; 
  border: 0;
  background-color: transparent !important;
  border-color: transparent !important;
}

.modal-body{
  padding: 10px;
  color: white;
  background-color: #010212;
  border-Radius: 0px 0px 60px 40px;
  box-Shadow:0px 4px 4px rgba(144, 14, 205, 0.8);
}

.modalbody-footer{
  color: white;
  background-color: #010212;
  border-Radius: 0px;
  box-Shadow:0px 4px 4px rgba(145, 14, 205, 0);
}

.modal-footer{
  justify-content: center!important;
  color: white;
  background-Color: #010212; 
  border-Radius: 0px 0px 60px 60px !important;
  box-Shadow:0px 4px 4px rgba(144, 14, 205, 0.8);

}

button.btn.btn-primary.btn-sm{
  margin-Bottom: 1rem; 
  color: white; 
  background-Color: #18198A !important; 
}

button.btn.btn-outline-secondary{
  margin-right: 10px;
  border-Radius: 0px 0px 15px 0px;
}

.divmap{
  margin: 10px;
  align-Items:center;
  justify-content: space-between;
  border-Radius: 0px 0px 60px 40px;
  padding: 7px;
  color: white;
  background-Color: #010212;
  border-Bottom: 1px solid #A58CA3;
}

.divmapwithoutbr{
  margin: 10px;
  align-Items:center;
  justify-content: space-between;
  border-Radius: 0px 0px 40px 40px;
  padding: 7px;
  color: white;
  background-Color: #07070c;
  border-Bottom: 1px solid #A58CA3;
}

.divmapmatch{
  height: 90;
  margin:0px 0px 20px 0px;
  align-Items:center;
  justify-content: space-between;
  border-Radius: 0px 0px 40px 40px;
  padding: 0px 0px 4px 4px;
  color: white;
  background-Color: #07070c;
  border-Bottom: 1px solid #A58CA3;
}


/* PLAY BUTTON */
/* .play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient( rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
} */

/* triangle */
/* .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
} */

/* pulse wave */
/* .play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
} 

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  } */

  .backgroundLight{
    background-color: cornsilk;
  }

  .backgroundDark{
    background-color: rgb(41, 41, 41);
  }