a:hover{
  opacity: 0.8;
  transition: .5s ease;
}

.boldFont{
  justify-content: center;
  font-family:  'Comfortaa', cursive;
  font-style: normal;
  font-weight: bold;
  color: #F9F5FF;
}

.font{
  justify-content: center;
  font-family:  'Comfortaa', cursive;
  font-style: normal;
  font-weight: normal;
  color: #F9F5FF;
}

.nextButton {
  position: relative;
  text-align: center;
  color: #F9F5FF;
}

.textButton {
  position: absolute;
  top: 59%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  color: #F9F5FF;
}

.error {
  text-align: center;
  top: 40%;
  left: 50%;
  color: rgb(255, 4, 4);
}

.success{
  text-align: center;
  top: 40%;
  left: 50%;
  color:  #F9F5FF;
}

.hiddenButton {
  background-color: transparent;
  border: none;
  cursor:pointer;
  outline: none;
  padding: 0 px;
}

p{
  margin-bottom: 0px;
  padding: 0px;
  text-align: justify;
}

div{
  margin-right: 0px;
  padding: 0px;
}

.row{
  margin-right: 0px;
  padding: 0px;
}

.backgroundColor{
  min-height: 90.7vh;
  padding: 15px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(84,5,119,1) 70%, rgba(2,0,36,1) 100%);
}

.headerFooter{
  min-height: 8vh;
  font-family:  'Comfortaa', cursive;
  font-style: normal;
  font-weight: bold;
  color: #F9F5FF;
  background: #000000;
  /* box-shadow: 0px 0px 10px 10px #414141; */
}

.boxshadow{
  box-shadow: 0px 4px 4px rgba(231, 10, 10, 0.7);
  height: 34px;
  width:34px;
};

img.gamePicture{
  border-radius: 10px !important;
}


body {
  font-family: 'Comfortaa', cursive;
  color: #F9F5FF;
}
.heading {
  font-family: 'Press Start 2P', cursive;
  color: #F9F5FF;
  /* margin: 0;
  padding: 0; */
  Font-Size: 20px;
  text-shadow: 0px 4px 4px rgba(231, 10, 10, 0.7);
}

.titleTeam{
  width: 100%;
  flex-direction: row;
  font-family: 'Press Start 2P', cursive;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card{
  height: auto;
  background-color: #010212;
  border-radius: 0px 50px;
  font-family: 'Comfortaa', cursive;
  color: #F9F5FF;
  padding-bottom: 13px;
  box-shadow: 8px rgba(144, 14, 205, 0.8);
  padding: 10px
}

.lastcard{
  height: auto;
  background-color: #010212;
  border-radius: 0px 50px;
  font-family: 'Comfortaa', cursive;
  color: #F9F5FF;
  padding-bottom: 13px;
  margin-bottom: 0px;
  box-shadow: 4px rgba(144, 14, 205, 0.8);
}
.card-title{
  font-family: 'Press Start 2P', cursive;
  Font-Size: 23px !important;
  color: #F9F5FF;
  margin: 0 ;
  padding: 0;
  align-content: center;
  text-shadow: 0px 4px 4px rgba(187, 10, 231, 0.7);
}

.card-subtitle{
  font-family: 'Press Start 2P' !important;
  font-size: 12px;
  color: #F9F5FF;
  margin-left : 10px;
}

p.card-subtitle{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: #F9F5FF;
  margin-left : 10px;
}
.card-text{
  font-family:  'Comfortaa', cursive;
  margin-left : 10px;
  font-size: 15px;
}

.cardbody{
  padding-bottom: "15px";
  padding-left:"10px";
  margin-bottom: "30px";
}

.user{
  padding-left: 25px;
  padding-bottom: 10px;
  align-items: center;
  
}

.usertitle{
  padding-left: 25px;
  padding-bottom: 10px;
  margin-top: 15px;
  align-items: center;
}

.card-background{
  background: #060122;
  border-radius: 0px 50px;
  padding: 15px
}

div.card-body{
  padding: 10px
}

.titleTeam{
  padding-top: 10px;
  align-items: center;
  margin-bottom: 10px
}

.custom-column{
  column-count: 2;
}

th{
  color: #F9F5FF !important;
  font-size: 12px;
}


td{
  color: #F9F5FF !important;
  font-size: 10px;
}
/*______________ TOGGLE ______________*/
element.style{
  display: none
}

  .react-switch-bg{
    height: 40px !important;
    width: 90px !important;
    margin: 0px;
    position: relative;
    background: rgba(231, 10, 10, 0.7);
    border-radius: 14px;
    cursor: pointer;
    transition: background 0.25s ease 0s;
    box-shadow: 0px 4px 4px rgba(231, 10, 10, 0.7);
  }

.react-switch-handle{
    background-image: url("./images/power-button.svg") !important;
    height:38px !important; 
    width: 38px !important; 
    background: rgb(255, 255, 255); 
    display: inline-block; 
    cursor: pointer; 
    border-radius: 50%; 
    position: absolute; 
    transform: translateX(50px) ; top: 1px  ; 
    outline: 0px; 
    border: 0px; 
    transition: background-color 0.25s ease 0s, transform 0.25s ease 0s, box-shadow 0.15s ease 0s;
  }
/*fin  TOGGLE */


.modal-content {
  position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-color: transparent !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius:0px 0px 90px 50px !important;
    outline: 0;
    box-shadow: 0px 4px 4px rgba(231, 10, 10, 0.7);
}

.false{
  transform: rotate(180deg);
  width:25px !important;
  height: 25px !important;
  margin-right: 10px;
  position: left !important;
  position: relative !important; 
  bottom: 0; 
  left: 50%;
  
}

.true{
  transform: rotate(0deg);
  width:25px !important;
  height: 25px !important;
  margin-right: 10px;
  position: relative; 
  bottom: -2; 
  left:0;
  margin-left: 5;
}

.align-middle{
  font-Size: 15px !important;

}

/* PLAY BUTTON */
body {
  background: #444;
}

.play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient( rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}
/* FIN PLAY BUTTON */

/* MODAL STYLE */

.modal-header{
  background-Color: #010212;
  box-sizing:0px 4px 4px rgba(144, 14, 205, 0.8)
}

.modal-title{
  color: white ;
  background-color: #010212;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0px 4px 4px rgba(144, 14, 205, 0.8);

}

button.btn.btn-primary{
  color: white;
  background-Color: #010212;
  justify-Content: right; 
  border: 0;
  background-color: transparent !important;
  border-color: transparent !important;
}

.modal-body{
  padding: 10px !important;
  color: white;
  background-color: #010212;
  border-Radius: 0px 0px 90px 40px;
  box-Shadow:0px 4px 4px rgba(144, 14, 205, 0.8);
}

.modalbody-footer{
  justify-content: center;
  color: white;
  background-color: #010212;
  border-Radius: 0px;
  box-Shadow:0px 4px 4px rgba(145, 14, 205, 0);
}

.modal-footer{
  justify-content: center!important;
  color: white;
  background-Color: #010212; 
  border-Radius: 0px 0px 90px 60px !important;
  box-Shadow:0px 4px 4px rgba(144, 14, 205, 0.8);

}

button.btn.btn-primary.btn-sm{
  margin-Bottom: 1rem; 
  color: white; 
  background-Color: #18198A !important; 
}

.divmap{
  margin: 10px;
  align-Items:center;
  justify-content: space-between;
  border-Radius: 0px 0px 90px 40px;
  padding: 7px;
  color: white;
  background-Color: #010212;
  border-Bottom: 1px solid #A58CA3;
}


